.act-square {
  width: 6.25rem;
  height: 6.25rem;
  transition: 0.5s all;
  position: absolute;
  border-radius: 0.75rem;
}
.act-square[data-active='true'] {
  background-color: #8f97f3;
  bottom: calc(100% - 6.25rem - 0.75rem);
  left: calc(100% - 6.25rem - 0.75rem);
  animation: 0.5s active;
}
.act-square[data-active='false'] {
  background-color: #ececec;
  bottom: 0.75rem;
  left: 0.75rem;
  animation: 0.5s inactive;
}
.act-square[data-ready='false'] {
  animation-play-state: paused;
}

@keyframes active {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes inactive {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
